# Discord Application
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=
DISCORD_GUILD_ID=

# Server
SERVER_PORT=3001
SERVER_PUBLIC_HOST=localhost:3001

# Activity (Vite)
VITE_DISCORD_CLIENT_ID=
VITE_API_HOST=localhost:3001
